.sales-item {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	padding: 20px;
	margin: 30px 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	max-height: 400px;
}

.sales-item:nth-child(2n) {
	flex-direction: row-reverse;
}

.sales-item-info {
	width: 45%;
}

.sales-item-title {
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
}

.sales-item-desc {
	margin: 15px 0;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.5)
}

.sales-item-time {
	font-style: italic;
}

.sales-item-img {
	width: 50%;
}

.sales-item-btn {
}
