.contacts-field {
  text-align: left;
}

.field-title {
  font-size: 30px;
  background: #fff;
  padding: 0 2px;
}

.field-content {
  letter-spacing: 1.5px;
  margin-top: 15px;
}

.textTitle {
  position: absolute;
  left: 5px;
  top: -15px;
  width: 70px;
  background: rgb(33, 30, 235);
  padding: 3px 5px;
  border: 1px solid #fff;
  border-radius: 8px;
  font-weight: normal;
}
